{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="course-detail-container">
    <div class="course-main-block">
        <h2 class="course-title">{{cours.name}}</h2>
        <p class="course-description">{{cours.description}}</p>

        <div class="details-grid">
            <div class="detail-card">
                <p class="detail-label">Стоимость обучения</p>
                <p class="detail-value">{{cours.cost}}</p>
            </div>

            <div class="detail-card">
                <p class="detail-label">Продолжительность (в неделях)</p>
                <p class="detail-value">{{cours.length}}</p>
            </div>

            <div class="detail-card">
                <p class="detail-label">Формат обучения</p>
                <p class="detail-value">{{cours.format}}</p>
            </div>

            <div class="detail-card full-width-card">
                <p class="detail-label">Документ</p>
                {% if cours.sertificate == True %}
                    <p class="detail-value">Удостоверение о повышении квалификации</p>
                {% else %}
                    <p class="detail-value">Нет</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}