<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Выбор приложения</title>
    <link rel="stylesheet" href="/static/styles/style.css">
</head>
<body class="portal-page">
    <h1 class="portal-title">Куда хотите перейти?</h1>

    <div class="buttons-container">
        <div class="app-button" id="edu-info">
            <a href="/edu_info/">
                <button>Познакомимся?)</button>
            </a>
        </div>

        <div class="app-button" id="list-courses">
            <a href="/list_courses/">
                <button>Сразу к курсам</button>
            </a>
        </div>
    </div>
</body>
</body>
</html>